---
import '../scss/styles.scss';
---

<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/edens-retreat/favicon.svg" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght,WONK@9..144,400,1;9..144,800,0&family=Space+Grotesk:wght@400;700&family=Unbounded:wght@800&display=swap" rel="stylesheet">
  <title>Eden's Retreat | Our Best-Selling Plants</title>
</head>

<body class="flow">  
  <header>

    <div class="logo">
      <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="200" height="78" viewBox="0 0 200 78"><g fill="none" fill-rule="evenodd"><g fill="#DABF10" transform="translate(13 4.986)"><path d="M26.82344.00432481914C26.5928875.0377591403 26.3808561.319906325 26.187346.855095999 25.8261832 1.994148 25.396949 3.37517789 24.951118 4.90028806L23.4826537 5.4407695 24.4716121 6.57729588C24.2922855 7.2186917 24.1180527 7.86150081 23.9489302 8.50566245L22.4675973 9.05095458 23.5075491 10.246412C23.3598977 10.8498025 23.2182959 11.4546573 23.0827648 12.0608854L21.4524207 12.6610194 22.6651966 14.0549179C22.504987 14.8729213 22.3625169 15.6942994 22.2378867 16.5184741L21.1500686 16.9189644 22.0470225 17.9497758C21.8096147 19.9978083 21.7576592 21.8754221 21.995067 23.3871826 22.3468489 25.6269213 23.9427966 28.3894622 24.8867749 30.5923991L26.0997914 33.422891C26.7955379 35.7340685 27.5090841 35.0063308 28.1372404 33.5075592 29.2106264 30.9475485 29.8944665 28.4789411 31.1035141 25.7856742 31.8127307 23.412559 31.9556083 20.8490606 31.7565658 18.2301189L32.8971813 16.9189644 31.5696704 16.4303182C31.4733276 15.6967273 31.3576302 14.9658083 31.2226991 14.2383256L32.5948292 12.6610194 30.7549794 11.9836737C30.6360498 11.4641963 30.5112042 10.946091 30.3804669 10.4294589L31.5796525 9.05095458 29.845638 8.41281606C29.6960427 7.87226294 29.5433407 7.33257436 29.3875397 6.7937771L30.5645962 5.4407695 28.8009959 4.79168665C28.6656951 4.33346807 28.5318376 3.88138313 28.401588 3.43711557L28.3385679 3.22255863 29.5494195 1.83070468 27.7415608 1.16538574C27.5485318.573550151 27.2545984-.0584547336 26.82344.00432481914L26.82344.00432481914ZM25.7510161 44.4814731C27.1177341 41.3559654 28.4611204 38.2023152 29.8097983 35.0552796L29.1587912 33.6209713 30.4599636 33.5393098 31.0366455 32.1998924 30.3846762 30.7628179 31.6939065 30.680555C31.8854924 30.2391739 32.0774391 29.7982738 32.2698668 29.3578548L31.6103207 27.904424 32.9444463 27.8207179C33.1333863 27.3922054 33.3225669 26.9642942 33.5127095 26.5373451L32.8360855 25.0461503 34.2191599 24.9593173C34.401846 24.5541366 34.5851334 24.1496775 34.7690222 23.7460603L34.0618502 22.1877564 35.5271875 22.0958721C35.6980874 21.7270122 35.8697089 21.3589941 36.0419317 20.9918179L35.287615 19.329603 36.87791 19.2296608C37.0298077 18.9131172 37.1823067 18.5972951 37.335407 18.2821947L36.5133797 16.4712091 38.2817907 16.3602023C38.4045837 16.1143759 38.527978 15.8687899 38.6517331 15.6238054L37.7392647 13.6129354 39.7512171 13.4865344C40.0783443 12.8618659 40.4089592 12.2411661 40.7430619 11.6249162 43.7885918 6.97129169 43.335665 8.89412596 42.8907961 15.835957 42.1719582 27.0530515 42.5672769 30.8243948 34.6036546 39.8233987 30.03999 44.9807028 25.1921337 49.1435164 25.7510161 44.4814731Z"/><path d="M28.2646035 61.4301483C22.6724126 61.9699082 16.9711393 59.9323388 13.5480902 54.8542908 19.8535867 55.8076501 27.428505 49.6475568 34.5435209 42.3236364L34.4569284 40.8377334 35.4035527 41.4307717C35.9366194 40.8720856 36.4659677 40.3098634 36.9915627 39.7441425L36.8898165 37.9953351 37.9773941 38.6768901C38.4363343 38.1763374 38.8921475 37.6749429 39.3441122 37.1742699L39.2300987 35.2170392 40.4279615 35.9676277C40.7960076 35.5561133 41.1634247 35.1440368 41.5302116 34.7313997L41.4243764 32.9159641 42.527709 33.6071405 43.2004845 32.8476523 43.0922439 30.9860341 44.2225164 31.6941682C44.672196 31.1871211 45.1149001 30.6894548 45.5508692 30.2017707L45.4156887 27.8808516 46.8376095 28.771792C47.0892087 28.4944555 47.3387635 28.2203663 47.5847102 27.9525309L47.4382246 25.4334112 49.0145686 26.4211668C49.2977982 26.1231887 49.5832002 25.8272831 49.8707518 25.5334736L49.7506048 23.4716103 51.0983206 24.315887C51.3154644 24.1073827 51.535007 23.9013911 51.7569046 23.6979534L51.6490248 21.8446337 52.9491147 22.6592044C53.4946474 22.0053108 54.3508306 22.2412754 53.8470307 23.3399175 52.004054 29.3657924 50.1566273 35.4255828 47.8924743 40.9243259 43.9580485 50.4802879 40.0415425 60.2933814 28.2646035 61.4301483L28.2646035 61.4301483ZM22.3272454 31.5885735 23.4250457 31.6573664 22.8822791 32.8535454C23.9568678 35.2406116 25.4420493 38.4131438 25.2600848 40.5985217 25.1580981 41.8244067 24.6408282 42.8572626 23.6709924 43.6786886 21.2711778 41.7496004 19.2580228 39.7426993 17.5509481 37.6747023 12.1384367 31.1201322 12.4554614 29.4715074 11.6535187 21.5051189L10.5952864 10.9897844C10.4008141 9.80070119 10.4255892 9.08607264 10.7016027 8.91697676 11.2863425 8.55942195 12.47735 10.8687955 12.8365886 11.5232903L14.8446924 11.6494508 13.977204 13.5612205C14.127933 13.8413923 14.276987 14.1224621 14.424358 14.4044148L16.0704571 14.5076042 15.3192673 16.1629639C15.5030358 16.5335076 15.6846395 16.9047728 15.8643189 17.2761584L17.2963422 17.3659981 16.6189965 18.8582753C16.8204065 19.285932 17.0209327 19.7140045 17.2205737 20.14249L18.5221069 20.2242718 17.8980397 21.5994085C18.1163044 22.0691204 18.3352313 22.5385243 18.5548196 23.0076189L19.7478717 23.0825454 19.1806909 24.3323636C19.3519516 24.6917225 19.5246555 25.0508407 19.6992837 25.4093577L19.8965221 25.8732288 20.9736364 25.9408191 20.4325536 27.13339 21.1119439 28.7309011 22.1994012 28.799213 21.6529064 30.0033296 22.3272454 31.5885735 22.3272454 31.5885735Z"/><path d="M18.7180224,41.3485088 L20.1055467,41.0298004 L19.8905087,42.582572 L22.6957445,45.5357366 C25.1003697,47.5158181 24.5472602,49.3402737 21.9334901,51.0561279 C17.132057,54.2080944 13.0649763,54.1708115 9.51540591,49.0806165 C7.22936427,45.8028504 5.62463712,39.6917059 4.28197251,35.7527099 L0.135635617,23.5898331 C-0.31885467,22.3260638 0.467453214,22.2798812 1.0412487,22.7399038 L1.49189044,23.2142382 L3.26787828,22.8066521 L2.99246607,24.79407 L3.65814581,25.4947475 L5.35932736,25.1041192 L5.09582162,27.0080715 L5.82452144,27.7752568 L7.45113725,27.4017065 L7.19893663,29.222073 L7.82721323,29.8835434 L9.81607427,29.4268883 L9.5077088,31.6525557 L10.0573306,32.2311619 L11.9160623,31.8044533 L11.6277815,33.884477 L12.2192563,34.5069808 L13.8308387,34.1370385 L13.5810434,35.9404472 L14.3856319,36.7874901 L15.9222878,36.4346258 L15.6840382,38.154569 L16.5518873,39.0679995 L18.0139774,38.7323333 L17.7872735,40.3685705 L18.7180224,41.3485088 L18.7180224,41.3485088 Z"/></g><path fill="#273518" fill-rule="nonzero" d="M15.936 7.68 15.936 11.28 2.76 11.28 2.76 7.68 15.936 7.68ZM6.144 9.48 4.968 16.704 2.952 14.448 16.728 14.448 16.728 18.48 1.13686838e-13 18.48 1.368 9.48 1.13686838e-13.48 16.608.48 16.608 4.512 2.952 4.512 4.968 2.256 6.144 9.48ZM31.416 18.48 30.768 13.344 31.608 11.664 30.792 9.552 31.944 2.84217094e-14 37.032 2.84217094e-14 35.616 11.256 36.48 18.48 31.416 18.48ZM32.472 11.64C32.248 13.08 31.804 14.344 31.14 15.432 30.476 16.52 29.636 17.364 28.62 17.964 27.604 18.564 26.448 18.864 25.152 18.864 23.808 18.864 22.628 18.564 21.612 17.964 20.596 17.364 19.8 16.516 19.224 15.42 18.648 14.324 18.36 13.064 18.36 11.64 18.36 10.184 18.648 8.912 19.224 7.824 19.8 6.736 20.596 5.888 21.612 5.28 22.628 4.672 23.808 4.368 25.152 4.368 26.448 4.368 27.604 4.668 28.62 5.268 29.636 5.868 30.48 6.708 31.152 7.788 31.824 8.868 32.264 10.152 32.472 11.64ZM23.328 11.64C23.328 12.312 23.468 12.912 23.748 13.44 24.028 13.968 24.416 14.38 24.912 14.676 25.408 14.972 25.976 15.12 26.616 15.12 27.288 15.12 27.92 14.972 28.512 14.676 29.104 14.38 29.624 13.968 30.072 13.44 30.52 12.912 30.856 12.312 31.08 11.64 30.856 10.952 30.52 10.344 30.072 9.816 29.624 9.288 29.104 8.872 28.512 8.568 27.92 8.264 27.288 8.112 26.616 8.112 25.976 8.112 25.408 8.264 24.912 8.568 24.416 8.872 24.028 9.288 23.748 9.816 23.468 10.344 23.328 10.952 23.328 11.64ZM46.752 18.864C45.088 18.864 43.604 18.56 42.3 17.952 40.996 17.344 39.968 16.492 39.216 15.396 38.464 14.3 38.088 13.024 38.088 11.568 38.088 10.144 38.448 8.892 39.168 7.812 39.888 6.732 40.876 5.888 42.132 5.28 43.388 4.672 44.808 4.368 46.392 4.368 48.04 4.368 49.444 4.724 50.604 5.436 51.764 6.148 52.66 7.152 53.292 8.448 53.924 9.744 54.24 11.272 54.24 13.032L42.048 13.032 42.048 10.08 51.48 10.08 49.872 11.112C49.808 10.408 49.632 9.812 49.344 9.324 49.056 8.836 48.676 8.464 48.204 8.208 47.732 7.952 47.168 7.824 46.512 7.824 45.792 7.824 45.176 7.968 44.664 8.256 44.152 8.544 43.752 8.94 43.464 9.444 43.176 9.948 43.032 10.536 43.032 11.208 43.032 12.072 43.228 12.804 43.62 13.404 44.012 14.004 44.588 14.464 45.348 14.784 46.108 15.104 47.04 15.264 48.144 15.264 49.152 15.264 50.156 15.132 51.156 14.868 52.156 14.604 53.064 14.232 53.88 13.752L53.88 16.872C52.936 17.512 51.86 18.004 50.652 18.348 49.444 18.692 48.144 18.864 46.752 18.864ZM55.608 4.776 60.528 4.776 61.416 10.248 61.416 18.48 56.52 18.48 56.52 9.504 55.608 4.776ZM66.456 4.368C67.768 4.368 68.888 4.632 69.816 5.16 70.744 5.688 71.452 6.432 71.94 7.392 72.428 8.352 72.672 9.488 72.672 10.8L72.672 18.48 67.776 18.48 67.776 11.52C67.776 10.496 67.516 9.712 66.996 9.168 66.476 8.624 65.728 8.352 64.752 8.352 64.08 8.352 63.492 8.496 62.988 8.784 62.484 9.072 62.096 9.48 61.824 10.008 61.552 10.536 61.416 11.16 61.416 11.88L59.904 11.088C60.096 9.632 60.504 8.404 61.128 7.404 61.752 6.404 62.52 5.648 63.432 5.136 64.344 4.624 65.352 4.368 66.456 4.368ZM74.76 8.832 77.16 3.792 77.448 5.592C76.936 5.592 76.472 5.472 76.056 5.232 75.64 4.992 75.312 4.668 75.072 4.26 74.832 3.852 74.712 3.4 74.712 2.904 74.712 2.408 74.832 1.96 75.072 1.56 75.312 1.16 75.64.84 76.056.6 76.472.36 76.936.24 77.448.24 77.96.24 78.42.36 78.828.6 79.236.84 79.56 1.164 79.8 1.572 80.04 1.98 80.16 2.44 80.16 2.952 80.16 3.432 80.048 3.944 79.824 4.488 79.6 5.032 79.208 5.712 78.648 6.528L77.112 8.832 74.76 8.832ZM97.2 14.016C97.2 15.072 96.88 15.96 96.24 16.68 95.6 17.4 94.688 17.944 93.504 18.312 92.32 18.68 90.896 18.864 89.232 18.864 87.52 18.864 86.02 18.656 84.732 18.24 83.444 17.824 82.44 17.24 81.72 16.488 81 15.736 80.616 14.864 80.568 13.872L85.536 13.872C85.648 14.24 85.868 14.556 86.196 14.82 86.524 15.084 86.96 15.284 87.504 15.42 88.048 15.556 88.696 15.624 89.448 15.624 90.424 15.624 91.164 15.528 91.668 15.336 92.172 15.144 92.424 14.856 92.424 14.472 92.424 14.168 92.232 13.94 91.848 13.788 91.464 13.636 90.808 13.52 89.88 13.44L87.456 13.248C85.84 13.136 84.556 12.892 83.604 12.516 82.652 12.14 81.968 11.652 81.552 11.052 81.136 10.452 80.928 9.768 80.928 9 80.928 7.96 81.252 7.1 81.9 6.42 82.548 5.74 83.452 5.228 84.612 4.884 85.772 4.54 87.128 4.368 88.68 4.368 90.216 4.368 91.584 4.568 92.784 4.968 93.984 5.368 94.944 5.924 95.664 6.636 96.384 7.348 96.8 8.184 96.912 9.144L91.944 9.144C91.864 8.84 91.688 8.564 91.416 8.316 91.144 8.068 90.768 7.864 90.288 7.704 89.808 7.544 89.192 7.464 88.44 7.464 87.56 7.464 86.892 7.56 86.436 7.752 85.98 7.944 85.752 8.216 85.752 8.568 85.752 8.84 85.892 9.056 86.172 9.216 86.452 9.376 86.976 9.488 87.744 9.552L90.936 9.792C92.52 9.888 93.768 10.116 94.68 10.476 95.592 10.836 96.24 11.312 96.624 11.904 97.008 12.496 97.2 13.2 97.2 14.016ZM3.984 29.352 10.536 29.352C11.336 29.352 11.96 29.168 12.408 28.8 12.856 28.432 13.08 27.92 13.08 27.264 13.08 26.592 12.856 26.076 12.408 25.716 11.96 25.356 11.336 25.176 10.536 25.176L3.288 25.176 5.52 22.8 5.52 39.48.552 39.48.552 21.48 11.232 21.48C12.608 21.48 13.808 21.724 14.832 22.212 15.856 22.7 16.656 23.372 17.232 24.228 17.808 25.084 18.096 26.096 18.096 27.264 18.096 28.4 17.808 29.4 17.232 30.264 16.656 31.128 15.856 31.8 14.832 32.28 13.808 32.76 12.608 33 11.232 33L3.984 33 3.984 29.352ZM6.672 31.056 12.264 31.056 18.72 39.48 12.96 39.48 6.672 31.056ZM28.008 39.864C26.344 39.864 24.86 39.56 23.556 38.952 22.252 38.344 21.224 37.492 20.472 36.396 19.72 35.3 19.344 34.024 19.344 32.568 19.344 31.144 19.704 29.892 20.424 28.812 21.144 27.732 22.132 26.888 23.388 26.28 24.644 25.672 26.064 25.368 27.648 25.368 29.296 25.368 30.7 25.724 31.86 26.436 33.02 27.148 33.916 28.152 34.548 29.448 35.18 30.744 35.496 32.272 35.496 34.032L23.304 34.032 23.304 31.08 32.736 31.08 31.128 32.112C31.064 31.408 30.888 30.812 30.6 30.324 30.312 29.836 29.932 29.464 29.46 29.208 28.988 28.952 28.424 28.824 27.768 28.824 27.048 28.824 26.432 28.968 25.92 29.256 25.408 29.544 25.008 29.94 24.72 30.444 24.432 30.948 24.288 31.536 24.288 32.208 24.288 33.072 24.484 33.804 24.876 34.404 25.268 35.004 25.844 35.464 26.604 35.784 27.364 36.104 28.296 36.264 29.4 36.264 30.408 36.264 31.412 36.132 32.412 35.868 33.412 35.604 34.32 35.232 35.136 34.752L35.136 37.872C34.192 38.512 33.116 39.004 31.908 39.348 30.7 39.692 29.4 39.864 28.008 39.864ZM36.096 29.4 36.096 27.264 38.88 26.136 40.992 22.08 43.776 22.08 43.776 25.776 49.536 25.776 49.536 29.4 43.776 29.4 43.776 33.432C43.776 34.424 43.976 35.12 44.376 35.52 44.776 35.92 45.504 36.12 46.56 36.12 47.232 36.12 47.828 36.06 48.348 35.94 48.868 35.82 49.344 35.664 49.776 35.472L49.776 39.168C49.296 39.344 48.664 39.504 47.88 39.648 47.096 39.792 46.288 39.864 45.456 39.864 43.936 39.864 42.692 39.632 41.724 39.168 40.756 38.704 40.04 38.036 39.576 37.164 39.112 36.292 38.88 35.272 38.88 34.104L38.88 29.4 36.096 29.4ZM51.12 25.776 56.112 25.776 56.928 30.672 56.928 39.48 52.032 39.48 52.032 30.384 51.12 25.776ZM63.36 25.56 63.36 29.736C62.88 29.64 62.428 29.572 62.004 29.532 61.58 29.492 61.192 29.472 60.84 29.472 60.136 29.472 59.488 29.612 58.896 29.892 58.304 30.172 57.828 30.632 57.468 31.272 57.108 31.912 56.928 32.768 56.928 33.84L55.992 32.688C56.12 31.696 56.312 30.764 56.568 29.892 56.824 29.02 57.172 28.244 57.612 27.564 58.052 26.884 58.6 26.348 59.256 25.956 59.912 25.564 60.712 25.368 61.656 25.368 61.928 25.368 62.208 25.384 62.496 25.416 62.784 25.448 63.072 25.496 63.36 25.56ZM72.72 39.864C71.056 39.864 69.572 39.56 68.268 38.952 66.964 38.344 65.936 37.492 65.184 36.396 64.432 35.3 64.056 34.024 64.056 32.568 64.056 31.144 64.416 29.892 65.136 28.812 65.856 27.732 66.844 26.888 68.1 26.28 69.356 25.672 70.776 25.368 72.36 25.368 74.008 25.368 75.412 25.724 76.572 26.436 77.732 27.148 78.628 28.152 79.26 29.448 79.892 30.744 80.208 32.272 80.208 34.032L68.016 34.032 68.016 31.08 77.448 31.08 75.84 32.112C75.776 31.408 75.6 30.812 75.312 30.324 75.024 29.836 74.644 29.464 74.172 29.208 73.7 28.952 73.136 28.824 72.48 28.824 71.76 28.824 71.144 28.968 70.632 29.256 70.12 29.544 69.72 29.94 69.432 30.444 69.144 30.948 69 31.536 69 32.208 69 33.072 69.196 33.804 69.588 34.404 69.98 35.004 70.556 35.464 71.316 35.784 72.076 36.104 73.008 36.264 74.112 36.264 75.12 36.264 76.124 36.132 77.124 35.868 78.124 35.604 79.032 35.232 79.848 34.752L79.848 37.872C78.904 38.512 77.828 39.004 76.62 39.348 75.412 39.692 74.112 39.864 72.72 39.864ZM94.68 39.48 94.056 34.536 94.704 32.64 94.056 30.744 94.68 25.776 99.768 25.776 98.904 32.616 99.768 39.48 94.68 39.48ZM95.832 32.64C95.608 34.08 95.164 35.344 94.5 36.432 93.836 37.52 92.996 38.364 91.98 38.964 90.964 39.564 89.808 39.864 88.512 39.864 87.168 39.864 85.988 39.564 84.972 38.964 83.956 38.364 83.16 37.516 82.584 36.42 82.008 35.324 81.72 34.064 81.72 32.64 81.72 31.184 82.008 29.912 82.584 28.824 83.16 27.736 83.956 26.888 84.972 26.28 85.988 25.672 87.168 25.368 88.512 25.368 89.808 25.368 90.964 25.668 91.98 26.268 92.996 26.868 93.84 27.708 94.512 28.788 95.184 29.868 95.624 31.152 95.832 32.64ZM86.688 32.64C86.688 33.312 86.828 33.912 87.108 34.44 87.388 34.968 87.776 35.38 88.272 35.676 88.768 35.972 89.336 36.12 89.976 36.12 90.648 36.12 91.28 35.972 91.872 35.676 92.464 35.38 92.984 34.968 93.432 34.44 93.88 33.912 94.216 33.312 94.44 32.64 94.216 31.952 93.88 31.344 93.432 30.816 92.984 30.288 92.464 29.872 91.872 29.568 91.28 29.264 90.648 29.112 89.976 29.112 89.336 29.112 88.768 29.264 88.272 29.568 87.776 29.872 87.388 30.288 87.108 30.816 86.828 31.344 86.688 31.952 86.688 32.64ZM100.92 29.4 100.92 27.264 103.704 26.136 105.816 22.08 108.6 22.08 108.6 25.776 114.36 25.776 114.36 29.4 108.6 29.4 108.6 33.432C108.6 34.424 108.8 35.12 109.2 35.52 109.6 35.92 110.328 36.12 111.384 36.12 112.056 36.12 112.652 36.06 113.172 35.94 113.692 35.82 114.168 35.664 114.6 35.472L114.6 39.168C114.12 39.344 113.488 39.504 112.704 39.648 111.92 39.792 111.112 39.864 110.28 39.864 108.76 39.864 107.516 39.632 106.548 39.168 105.58 38.704 104.864 38.036 104.4 37.164 103.936 36.292 103.704 35.272 103.704 34.104L103.704 29.4 100.92 29.4Z" transform="translate(74.128 22.02)"/></g></svg></a>
    </div>

    <nav>
      <ul class="nav">
        <li class="nav__item"><a href="#">Home</a></li>
        <li class="nav__item"><a href="#">About</a></li>
        <li class="nav__item"><a href="#">Services</a></li>
        <li class="nav__item"><a href="#">Contact</a></li>
      </ul>
    </nav>

  </header>
  <main class="container">
    <section class="[ flow ] [ main__content ]"> 
      <h1 class="[ span-all ] [ text-xl font-display text-primary-200 text-center ]">Our Best-Selling Plants</h1>

      <search class="[ search ] [ flow ] [ span-all place-center ]" role="search">
        <form class="[ flex flex-wrap align-center justify-center ]" action="#" autocomplete="off">
          <label for="search">Search plants</label>
          <div class="[ search__input-group ] [ flex ]">
            <input id="search" type="search" placeholder="monstera" size="20">
            <button class="[ search__reset-btn ] [ btn ]" type="reset">Reset</button>
          </div>
        </form>
        <div class="[ search__results ] [ text-bold text-primary-200 ]" aria-live="polite" aria-atomic="true"></div>
      </search>
  
      <article class="[ card card--plant ] [ show ]" data-name="monstera">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/monstera.webp');">
          <p class="card__caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Monstera</h2>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nisi commodi aspernatur nam laborum atque ea ullam hic necessitatibus. Consequatur amet eligendi enim, dolorum recusandae totam dolores repellendus natus laborum!</p>
          <div class="[ card__description-details ] [ visually-hidden ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See monstera details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="fiddle leaf fig">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/fiddle-leaf-fig.webp');">
          <p class="card__caption">Ergo id est convenienter naturae vivere, a natura discedere. Habent enim et bene longam et satis litigiosam disputationem.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Fiddle Leaf Fig</h2>
          <p class="card__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam reiciendis corporis deserunt ipsam saepe, eius repellat quasi nemo quae obcaecati, suscipit, laudantium similique illum deleniti. Est saepe mollitia ad in.</p>
          <div class="[ card__description-details ] [ visually-hidden ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See fiddle leaf fig details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="chinese money plant">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/chinese-money-plant.webp');">
          <p class="card__caption">Quae sequuntur igitur. Nullus est igitur cuiusquam dies natalis.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Chinese Money Plant</h2>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat praesentium eveniet quidem vero fugiat assumenda dolorum, magnam odio delectus voluptate labore recusandae exercitationem dolore at eaque libero porro provident sit!</p>
          <div class="[ card__description-details ] [ visually-hidden ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See chinese money plant details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="spider plant">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/spider-plant.webp');">
          <p class="card__caption">Eiuro, inquit adridens, iniquum, hac quidem de re.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Spider Plant</h2>
          <p class="card__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi officiis impedit magnam recusandae perspiciatis soluta laudantium! Optio dolor deleniti dolore cum distinctio debitis adipisci repellat temporibus! Veniam deserunt neque exercitationem.</p>
          <div class="[ card__description-details ] [ visually-hidden ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See spider plant details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="peace lily">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/peace-lily.webp');">
          <p class="card__caption">Quicquid porro animo cernimus, id omne oritur a sensibus. Sed tu istuc dixti bene Latine, parum plane.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Peace Lily</h2>
          <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. His singulis copiose responderi solet, sed quae perspicua sunt longa esse non debent. Duo enim genera quae erant, fecit tria. Quia nec honesto quic quam honestius nec turpi turpius. Idemque diviserunt naturam hominis in animum et corpus. Non enim solum Torquatus dixit quid sentiret, sed etiam cur.</p>
          <div class="[ card__description-details ] [ visually-hidden ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See peace lily details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="air plant">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/air-plant.jpg');">
          <p class="card__caption">Maximas vero virtutes iacere omnis necesse est voluptate dominante.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Air Plant</h2>
          <p class="card__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus, neque vel? Rem illum quibusdam nesciunt porro, quae eius accusantium molestiae quas excepturi placeat doloremque ipsam. Beatae numquam accusantium consectetur velit?</p>
          <div class="[ card__description-details ] [ visually-hidden ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See air plant details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="aloe vera">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/aloe-vera.jpg');">
          <p class="card__caption">Neque enim disputari sine reprehensione nec cum iracundia aut pertinacia recte disputari potest.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Aloe Vera</h2>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptas fugit minus corporis, assumenda, ullam ducimus illo pariatur quia dolor eaque impedit animi voluptate commodi repellendus voluptates excepturi recusandae iusto?</p>
          <div class="[ card__description-details ] [ visually-hidden ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See aloe vera details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="jade plant">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/jade.webp');">
          <p class="card__caption">Cur ipse Pythagoras et Aegyptum lustravit et Persarum magos adiit.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Jade Plant</h2>
          <p class="card__description">Illum dolore nesciunt fugit, vel sint expedita dolorem quisquam, asperiores magni molestiae quas id corrupti, vero unde.</p>
          <div class="[ card__description-details ] [ visually-hidden ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See jade plant details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="african violet">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/african-violet.jpg');">
          <p class="card__caption">Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">African Violet</h2>
          <p class="card__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam dolore quis odit ducimus libero temporibus tenetur veniam ut, eum blanditiis. Autem, nobis? Consequatur quos voluptates recusandae mollitia vel nulla nostrum!</p>
          <div class="[ card__description-details ] [ visually-hidden ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See African violet details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="snake plant">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/snake-plant.webp');">
          <p class="card__caption">Est enim effectrix multarum et magnarum voluptatum.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Snake Plant</h2>
          <p class="card__description">Dolor, reprehenderit aut facere ratione iusto vel numquam quis quod.</p>
          <div class="[ card__description-details ] [ visually-hidden ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See snake plant details</button>
        </div>
      </article>

    </section>

  </main>
  <footer class="[ flex ]">
    <div class="author">Made with &#10086; by <a class="text-secondary-200" href="https://garymazzeo.com">Gary Mazzeo</a></div>
  </footer>

  <script is:inline>
    /*************************
     * 
     * Show/Hide plant details
     * 
     *************************/
    const buttons = Array.from(document.querySelectorAll('.js-read-more'))

    buttons.map((button) => button.addEventListener('click', (e) => {
      const activeButton = e.target
      const details = activeButton.previousElementSibling;
      const plantName = e.target.closest('article').dataset.name
      console.log(plantName)

      if (details.classList.contains('visually-hidden')) {
        details.classList.replace('visually-hidden', 'visually-shown')
        activeButton.textContent = `Hide ${plantName} details`
      } else if (details.classList.contains('visually-shown')) {
        details.classList.replace('visually-shown', 'visually-hidden')
        activeButton.textContent = `See ${plantName} details`
      }
    }))

    /*************************
     * 
     * Search
     * 
     *************************/

    const plantNames = Array.from(document.querySelectorAll('.card__title')).map((plant) => (
      plant.textContent
    ))
    const plantDescriptions = Array.from(document.querySelectorAll('.card__description')).map((plant) => (
      plant.textContent
    ))
    const textToSearch = Array.from(plantNames.map((plant, i) => (
      {name: plant.toLowerCase(), description: plantDescriptions[i]}
    )))

    const resetButton = document.querySelector('.search__reset-btn')
    const searchInput = document.querySelector('#search')
    const searchResults = document.querySelector('.search__results')
    const allPlants = document.querySelectorAll('.card--plant')

    resetButton.addEventListener('click', (e) => {
      searchResults.textContent = ''
      allPlants.forEach((plant) => {
        if (plant.classList.contains('hide')) {
          plant.classList.remove('hide')
          plant.classList.add('show')
        }
      })
    })


    searchInput.addEventListener('input', (e) => {
      const input = e.target
      const inputValue = input.value.trim().toLowerCase()
      const matches = [] 
      let resultsText = ''

      textToSearch.forEach((plant) => {
        if (plant.name.includes(inputValue) || plant.description.includes(inputValue)) {
          matches.push(plant.name)
        }
      })

      if (matches.length > 0 && inputValue.length > 0) {
        
        allPlants.forEach((plant) => {
          if (!matches.includes(plant.dataset.name)) {
            plant.classList.replace('show', 'hide')
          } else if (matches.includes(plant.dataset.name) && plant.classList.contains('hide')) {
            plant.classList.replace('hide', 'show')
          }
          resultsText = `Showing ${matches.length} results`
        }) 

      } else if (matches.length == 0 && inputValue.length != 0) {

        resultsText = `There are no results for your search`
        allPlants.forEach((plant) => {
          plant.classList.replace('show', 'hide')
        })

      } else if (inputValue.length == 0) {

        resultsText = ''
        allPlants.forEach((plant) => {
          plant.classList.replace('hide', 'show')
        })

      } else {
        resultsText = `Showing ${matches.length} results`
      }
      
      searchResults.textContent = resultsText
      
    })

  </script>
</body>

</html>
