---
import '../scss/styles.scss';
// import '../js/main.js';
---

<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@800&family=Space+Grotesk:wght@400;700&family=Unbounded:wght@800&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body class="flow">  
  <header>
    <div class="logo">Your Logo Here</div>
    <nav>
      <ul class="nav">
        <li class="nav__item"><a href="#">Home</a></li>
        <li class="nav__item"><a href="#">About</a></li>
        <li class="nav__item"><a href="#">Services</a></li>
        <li class="nav__item"><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main class="container">
    <section class="[ flow ] [ main__content ]"> 
      <h1 class="[ span-all ] [ text-xl font-display text-primary-200 text-center ]">Our Best-Selling Plants</h1>

      <search class="[ search ] [ flow ] [ span-all place-center ]" role="search">
        <form class="[ flex align-center ]" action="#" autocomplete="on">
          <label for="search">Search plants</label>
          <div class="[ search__input-group ] [ flex ]">
            <input id="search" type="search" placeholder="monstera" size="30">
            <button class="[ search__reset-btn ] [ btn ]" type="reset">Reset</button>
          </div>
        </form>
        <div class="[ search__results ] [ text-bold text-primary-200 ]"></div>
      </search>
  
      <article class="[ card card--plant ] [ show ]" data-name="monstera">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/monstera.webp');">
          <p class="card__caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Monstera</h2>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nisi commodi aspernatur nam laborum atque ea ullam hic necessitatibus. Consequatur amet eligendi enim, dolorum recusandae totam dolores repellendus natus laborum!</p>
          <div class="[ card__description-details ] [ hide ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See monstera details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="fiddle leaf fig">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/fiddle-leaf-fig.webp');">
          <p class="card__caption">Ergo id est convenienter naturae vivere, a natura discedere. Habent enim et bene longam et satis litigiosam disputationem.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Fiddle Leaf Fig</h2>
          <p class="card__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam reiciendis corporis deserunt ipsam saepe, eius repellat quasi nemo quae obcaecati, suscipit, laudantium similique illum deleniti. Est saepe mollitia ad in.</p>
          <div class="[ card__description-details ] [ hide ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See fiddle leaf fig details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="chinese money plant">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/chinese-money-plant.webp');">
          <p class="card__caption">Quae sequuntur igitur. Nullus est igitur cuiusquam dies natalis.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Chinese Money Plant</h2>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat praesentium eveniet quidem vero fugiat assumenda dolorum, magnam odio delectus voluptate labore recusandae exercitationem dolore at eaque libero porro provident sit!</p>
          <div class="[ card__description-details ] [ hide ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See chinese money plant details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="spider plant">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/spider-plant.webp');">
          <p class="card__caption">Eiuro, inquit adridens, iniquum, hac quidem de re.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Spider Plant</h2>
          <p class="card__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi officiis impedit magnam recusandae perspiciatis soluta laudantium! Optio dolor deleniti dolore cum distinctio debitis adipisci repellat temporibus! Veniam deserunt neque exercitationem.</p>
          <div class="[ card__description-details ] [ hide ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See spider plant details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="peace lily">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/peace-lily.webp');">
          <p class="card__caption">Quicquid porro animo cernimus, id omne oritur a sensibus. Sed tu istuc dixti bene Latine, parum plane.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Peace Lily</h2>
          <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. His singulis copiose responderi solet, sed quae perspicua sunt longa esse non debent. Duo enim genera quae erant, fecit tria. Quia nec honesto quic quam honestius nec turpi turpius. Idemque diviserunt naturam hominis in animum et corpus. Non enim solum Torquatus dixit quid sentiret, sed etiam cur.</p>
          <div class="[ card__description-details ] [ hide ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See peace lily details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="air plant">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/air-plant.jpg');">
          <p class="card__caption">Maximas vero virtutes iacere omnis necesse est voluptate dominante.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Air Plant</h2>
          <p class="card__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus, neque vel? Rem illum quibusdam nesciunt porro, quae eius accusantium molestiae quas excepturi placeat doloremque ipsam. Beatae numquam accusantium consectetur velit?</p>
          <div class="[ card__description-details ] [ hide ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See air plant details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="aloe vera">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/aloe-vera.jpg');">
          <p class="card__caption">Neque enim disputari sine reprehensione nec cum iracundia aut pertinacia recte disputari potest.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Aloe Vera</h2>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptas fugit minus corporis, assumenda, ullam ducimus illo pariatur quia dolor eaque impedit animi voluptate commodi repellendus voluptates excepturi recusandae iusto?</p>
          <div class="[ card__description-details ] [ hide ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See aloe vera details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="jade plant">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/jade.webp');">
          <p class="card__caption">Cur ipse Pythagoras et Aegyptum lustravit et Persarum magos adiit.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Jade Plant</h2>
          <p class="card__description">Illum dolore nesciunt fugit, vel sint expedita dolorem quisquam, asperiores magni molestiae quas id corrupti, vero unde.</p>
          <div class="[ card__description-details ] [ hide ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See jade plant details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="african violet">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/african-violet.jpg');">
          <p class="card__caption">Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">African Violet</h2>
          <p class="card__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam dolore quis odit ducimus libero temporibus tenetur veniam ut, eum blanditiis. Autem, nobis? Consequatur quos voluptates recusandae mollitia vel nulla nostrum!</p>
          <div class="[ card__description-details ] [ hide ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See African violet details</button>
        </div>
      </article>

      <article class="[ card card--plant ] [ show ]" data-name="snake plant">
        <div class="[ card__image ] [ place-center ]" style="background-image: url('img/snake-plant.webp');">
          <p class="card__caption">Est enim effectrix multarum et magnarum voluptatum.</p>
        </div>
        <div class="[ card__content ] [ flow ]">
          <h2 class="card__title">Snake Plant</h2>
          <p class="card__description">Dolor, reprehenderit aut facere ratione iusto vel numquam quis quod.</p>
          <div class="[ card__description-details ] [ hide ]">
            <dl class="[ flow ] [ list--border ]">
              <div class="[ flex ]">
                <dt>Height:</dt>
                <dd>42"</dd>
              </div>
              <div class="[ flex ]">
                <dt>Water:</dt>
                <dd>Once a week</dd>
              </div>
              <div class="[ flex ]">
                <dt>Light:</dt>
                <dd>Direct light</dd>
              </div>
            </dl>
          </div>
          <button class="[ btn ] [ js-read-more ]">See snake plant details</button>
        </div>
      </article>

    </section>

  </main>
  <footer>
    <div class="copyright">{ new Date().getFullYear() }</div>
    <div class="author">Made with &#10086; by Gary Mazzeo</div>
  </footer>

  <script is:inline>
    /*************************
     * 
     * Show/Hide plant details
     * 
     *************************/
    const buttons = Array.from(document.querySelectorAll('.js-read-more'))

    buttons.map((button) => button.addEventListener('click', (e) => {
      const activeButton = e.target
      const description = activeButton.previousElementSibling;
      const plantName = e.target.closest('article').dataset.name

      if (description.classList.contains('hide')) {
        description.classList.replace('hide', 'show')
        activeButton.textContent = `Hide ${plantName} details`
      } else if (description.classList.contains('show')) {
        description.classList.replace('show', 'hide')
        activeButton.textContent = `See ${plantName} details`
      }
    }))

    /*************************
     * 
     * Search
     * 
     *************************/
    const plantNames = Array.from(document.querySelectorAll('.card__title')).map((plant) => (
      plant.textContent
    ))
    const plantDescriptions = Array.from(document.querySelectorAll('.card__description')).map((plant) => (
      plant.textContent
    ))
    const textToSearch = Array.from(plantNames.map((plant, i) => (
      {name: plant.toLowerCase(), description: plantDescriptions[i]}
    )))

    const resetButton = document.querySelector('.search__reset-btn')
    const searchInput = document.querySelector('#search')
    const searchResults = document.querySelector('.search__results')
    const allPlants = document.querySelectorAll('.card--plant')

    resetButton.addEventListener('click', (e) => {
      inputValue = null
      searchResults.textContent = ''
      allPlants.forEach((plant) => {
        if (plant.classList.contains('hide')) {
          plant.classList.remove('hide')
          plant.classList.add('show')
        }
      })
    })

    searchInput.addEventListener('input', (e) => {
      const input = e.target
      const inputValue = input.value.trim().toLowerCase()

      // function findMatches(array, searchString) {
      //   const regex = new RegExp(`${searchString}`, "i"); // "i" means case-insensitive
      //   const matches = [];
      //   for (let i = 0; i < array.length; i++) {
      //     if (regex.test(array[i].name) || regex.test(array[i].description)) {
      //       matches.push(array[i]);
      //     }
      //   }
      //   return matches;
      // }

      // const matches = findMatches(textToSearch, inputValue)
      const matches = [] 
      textToSearch.forEach((plant) => {
        if (plant.name.includes(inputValue) || plant.description.includes(inputValue)) {
          matches.push(plant.name)
        }
      })

      if (matches.length > 0 && inputValue.length > 0) {
        
        allPlants.forEach((plant) => {
          if (!matches.includes(plant.dataset.name)) {
            plant.classList.replace('show', 'hide')
          } else if (matches.includes(plant.dataset.name) && plant.classList.contains('hide')) {
            plant.classList.replace('hide', 'show')
          }
        }) 

      } else if (matches.length == 0 && inputValue.length != 0) {

        searchResults.textContent = `There are no results for your search`
        allPlants.forEach((plant) => {
          plant.classList.replace('show', 'hide')
        })

      } else if (matches.length != 0 && inputValue.length == 0) {
        searchResults.textContent = ``
      }
      
      searchResults.textContent = `${matches.length} results showing`
      
    })

    
  </script>
</body>

</html>
